<mat-card>
  <br />
  <form class="sm-form">
    <mat-form-field class="sm-full-width">
      <mat-label>Age of Code </mat-label>
      <mat-select [(ngModel)]="v1" name="input1">
        <mat-option value="one">Less than 2 years</mat-option>
        <mat-option value="two">2-5 years</mat-option>
        <mat-option value="three">5-10 years</mat-option>
        <mat-option value="four">10-20 years</mat-option>
        <mat-option value="five"> > 20 years</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Number of Change Requests</mat-label>
      <input matInput [(ngModel)]="v2" name="input2" pattern="\d+" formControlName="f" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Number of Checkouts</mat-label>
      <input matInput [(ngModel)]="v3" name="input3" pattern="\d+" formControlName="f1" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Movement of code into production</mat-label>
      <mat-select [(ngModel)]="v4" name="input4">
        <mat-option value="one">About 1-2 code changes into production every quarter</mat-option>
        <mat-option value="two">About 5 code changes into production every quarter</mat-option>
        <mat-option value="three">About 1-2 code changes into production every month</mat-option>
        <mat-option value="four">About 3-4 code changes into production every month</mat-option>
        <mat-option value="five">About 1-2 code changes into production every week</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Business impact </mat-label>
      <mat-select [(ngModel)]="v5" name="input5">
        <mat-option value="one">Not critical to day to day functioning</mat-option>
        <mat-option value="two">Manageable with no visibility to external world</mat-option>
        <mat-option value="three">Affects business image</mat-option>
        <mat-option value="four">Critical to top mgmt and customers of client</mat-option>
        <mat-option value="five">Affects business financially on downtime</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Number of unplanned Outages</mat-label>
      <input matInput [(ngModel)]="v6" name="input6" pattern="\d+" formControlName="f2" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Ratio of Actual Planned Outages vs Total Planned Outages</mat-label>
      <mat-select [(ngModel)]="v7" name="input7">
        <mat-option value="one">Less than 0.95</mat-option>
        <mat-option value="two">0.95-0.99</mat-option>
        <mat-option value="three">1</mat-option>
        <mat-option value="four">1.01-1.05</mat-option>
        <mat-option value="five">>1.05</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Number of Problems</mat-label>
      <mat-select [(ngModel)]="v8" name="input8">
        <mat-option value="one">No code changes due to bugs in the last 6 months</mat-option>
        <mat-option value="two">No code changes due to bugs in the last 6 months</mat-option>
        <mat-option value="three">Code changes once a month</mat-option>
        <mat-option value="four">Code changes alternate week</mat-option>
        <mat-option value="five">Problems repeat every month with code changes every week</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-label class="sm-full-width">Number of Service Requests(Enhancements / Research)</mat-label>
  
    <mat-form-field class="sm-four-items-width" > 
      <mat-label>Active Enhancements</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field class="sm-four-items-width" > 
      <mat-label>Closed Enhancements</mat-label>
      <input matInput>
    </mat-form-field>
 
    <mat-form-field class="sm-four-items-width" > 
      <mat-label>Active Research</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="sm-four-items-width" > 
      <mat-label>Closed Research</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Number of Proactive Incidents for the last 1 year</mat-label>
      <input matInput [(ngModel)]="v10" name="input10" pattern="\d+" formControlName="f3" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Number of Reactive Incidents for the last 1 year</mat-label>
      <input matInput [(ngModel)]="v11" name="input11" pattern="\d+" formControlName="f4" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />
    <br />

    
    <mat-label class="sm-full-width">Breakup of Reactive Incidents Resolved at (Level 1/Level 2/Level 3)</mat-label>
   
    <mat-form-field class="sm-four-items-width" > 
      <mat-label>Level 1</mat-label>
      <input matInput>
    </mat-form-field>
       
    <mat-form-field class="sm-four-items-width" > 
        <mat-label>Level 2</mat-label>
        <input matInput>
    </mat-form-field>
      
    <mat-form-field class="sm-four-items-width" > 
        <mat-label>Level 3</mat-label>
        <input matInput>
    </mat-form-field>
  

   
    <br/>
    <mat-label class="sm-full-width">Breakup of Proactive Incidents Resolved at (Level 1/Level 2/Level 3)</mat-label><br/>
    
    <mat-form-field class="sm-four-items-width"> 
      <mat-label>Level 1</mat-label>
      <input matInput>
    </mat-form-field>
       
    <mat-form-field class="sm-four-items-width"> 
        <mat-label>Level 2</mat-label>
        <input matInput>
    </mat-form-field>
      
    <mat-form-field class="sm-four-items-width"> 
        <mat-label>Level 3</mat-label>
        <input matInput>
    </mat-form-field>
    
   
      
    
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Proactive Incidents automatically resolved</mat-label>
      <mat-select [(ngModel)]="v14" name="input14">
        <mat-option value="one">Less than 50%</mat-option>
        <mat-option value="two">50-60%</mat-option>
        <mat-option value="three">60-70%</mat-option>
        <mat-option value="four">70-80%</mat-option>
        <mat-option value="five">>80%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Proactive Incidents automatically suppressed</mat-label>
      <mat-select [(ngModel)]="v15" name="input15">
        <mat-option value="one">Less than 50%</mat-option>
        <mat-option value="two">50-60%</mat-option>
        <mat-option value="three">60-70%</mat-option>
        <mat-option value="four">70-80%</mat-option>
        <mat-option value="five">>80%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Reactive incidents that have a reference to Knowledge Items</mat-label>
      <mat-select [(ngModel)]="v16" name="input16">
        <mat-option value="one">Less than 50%</mat-option>
        <mat-option value="two">50-60%</mat-option>
        <mat-option value="three">60-70%</mat-option>
        <mat-option value="four">70-80%</mat-option>
        <mat-option value="five">>80%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Proactive incidents that have a reference to Knowledge Items</mat-label>
      <mat-select [(ngModel)]="v17" name="input17">
        <mat-option value="one">Less than 50%</mat-option>
        <mat-option value="two">50-60%</mat-option>
        <mat-option value="three">60-70%</mat-option>
        <mat-option value="four">70-80%</mat-option>
        <mat-option value="five">>80%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Number of Level "Critical Priority - Reactive Incident Requests</mat-label>
      <input matInput [(ngModel)]="v18" name="input18" pattern="\d+" formControlName="f5" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />
    <br/>

   
    <mat-label class="sm-full-width">Number of Level "High" Priority - Reactive Incident Requests(active / closed)</mat-label>

    <mat-form-field class="sm-four-items-width"> 
      <mat-label>Active</mat-label>
      <input matInput>
      </mat-form-field>
      
    <mat-form-field class="sm-four-items-width" > 
        <mat-label>Closed</mat-label>
        <input matInput>
    </mat-form-field>
   
    <br/>
    <mat-label class="sm-full-width">Number of Level "Average" Priority - Reactive Incident Requests(active / closed)</mat-label>
    
    <mat-form-field class="sm-four-items-width" > 
      <mat-label>Active</mat-label>
      <input matInput>
      </mat-form-field>
      
    <mat-form-field class="sm-four-items-width" > 
        <mat-label>Closed</mat-label>
        <input matInput>
    </mat-form-field>
      
    <br/>
    <mat-label class="sm-full-width">Number of Level "Low" Priority - Reactive Incident Requests(active / closed)</mat-label>
   
    <mat-form-field class="sm-four-items-width"> 
      <mat-label>Active</mat-label>
      <input matInput>
    </mat-form-field>
      
    <mat-form-field class="sm-four-items-width"> 
      <mat-label>Closed</mat-label>
      <input matInput>
    </mat-form-field>
    
    

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Sev 1 Reactive incidents that breached SLAs</mat-label>
      <mat-select [(ngModel)]="v24" name="input24">
        <mat-option value="one">Less than 1%</mat-option>
        <mat-option value="two">1-3%</mat-option>
        <mat-option value="three">3-6%</mat-option>
        <mat-option value="four">6-10%</mat-option>
        <mat-option value="five">>10%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Sev 2 Reactive incidents that breached SLAs</mat-label>
      <mat-select [(ngModel)]="v25" name="input25">
        <mat-option value="one">Less than 3%</mat-option>
        <mat-option value="two">3-5%</mat-option>
        <mat-option value="three">5-10%</mat-option>
        <mat-option value="four">10-15%</mat-option>
        <mat-option value="five">>15%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Sev 3 Reactive incidents that breached SLAs</mat-label>
      <mat-select [(ngModel)]="v26" name="input26">
        <mat-option value="one">Less than 5%</mat-option>
        <mat-option value="two">5-8%</mat-option>
        <mat-option value="three">8-12%</mat-option>
        <mat-option value="four">12-20%</mat-option>
        <mat-option value="five">>20%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Sev 1 Proactive incidents that breached SLAs</mat-label>
      <mat-select [(ngModel)]="v27" name="input27">
        <mat-option value="one">Less than 1%</mat-option>
        <mat-option value="two">1-3%</mat-option>
        <mat-option value="three">3-6%</mat-option>
        <mat-option value="four">6-10%</mat-option>
        <mat-option value="five">>10%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Sev 2 Proactive incidents that breached SLAs</mat-label>
      <mat-select [(ngModel)]="v28" name="input28">
        <mat-option value="one">Less than 3%</mat-option>
        <mat-option value="two">3-5%</mat-option>
        <mat-option value="three">5-10%</mat-option>
        <mat-option value="four">10-15%</mat-option>
        <mat-option value="five">>15%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Percentage of Sev 3 Proactive incidents that breached SLAs</mat-label>
      <mat-select [(ngModel)]="v29" name="input29">
        <mat-option value="one">Less than 5%</mat-option>
        <mat-option value="two">5-8%</mat-option>
        <mat-option value="three">8-12%</mat-option>
        <mat-option value="four">12-20%</mat-option>
        <mat-option value="five">>20%</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Ratio of Actual Application Availability vs Planned Application Availability</mat-label>
      <mat-select [(ngModel)]="v30" name="input30">
        <mat-option value="one">Less than 0.99</mat-option>
        <mat-option value="two">0.99</mat-option>
        <mat-option value="three">1</mat-option>
        <mat-option value="four">1.01</mat-option>
        <mat-option value="five">>1.01</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Recovery Time Objective(RTO) in Hours</mat-label>
      <input matInput [(ngModel)]="v31" name="input31" pattern="\d+" formControlName="f9" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width" [formGroup]="myForm">
      <mat-label>Recovery Point Objective(RPO) in Hours</mat-label>
      <input matInput [(ngModel)]="v32" name="input32" pattern="\d+" formControlName="f10" (keypress)="onlyNumbers($event)">
      <mat-hint>Numbers only allowed</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Support Window</mat-label>
      <mat-select [(ngModel)]="v33" name="input33">
        <mat-option value="one">5 work days a week (8 hours)</mat-option>
        <mat-option value="two">7 work days a week (8 hours)</mat-option>
        <mat-option value="three">16X5 days a week</mat-option>
        <mat-option value="four">24X6 days a week</mat-option>
        <mat-option value="five">7 work days a week (24 hours)</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Maintanence documents</mat-label>
      <mat-select [(ngModel)]="v34" name="input34">
        <mat-option value="one">Maintanance (last 2 years) formally documented</mat-option>
        <mat-option value="two">Maintanance (last 1 year) formally documented</mat-option>
        <mat-option value="three">Maintanance (last 6 months) formally documented</mat-option>
        <mat-option value="four">Some change requests documented but some are not</mat-option>
        <mat-option value="five">No maintance document available for code</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>State of Jurisdiction</mat-label>
      <input matInput [(ngModel)]="v35" name="input35">
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Governing Support Service</mat-label>
      <input matInput [(ngModel)]="v36" name="input36">
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Uses Business Process</mat-label>
      <input matInput [(ngModel)]="v37" name="input37">
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Workgroup</mat-label>
      <input matInput [(ngModel)]="v38" name="input38">
    </mat-form-field>
    <br />

    <mat-form-field class="sm-full-width">
      <mat-label>Configuration Item</mat-label>
      <input matInput [(ngModel)]="v39" name="input39">
    </mat-form-field>
    <br />


  </form>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)=" check() ? openDialog() : save()">Save</button>&nbsp;
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
  </div>
</mat-card>