.sm-form {
  min-width: 150px;
  max-width: 550px;
  width: 100%;
}

.sm-full-width {
  width: 100%;
  margin: 8px 20px;
}
.sm-four-items-width {
  width: 33%;
  margin: 8px 20px;
}
.sm-button-row {
  width: 100%;
  margin: 8px 20px;
}

.error {
  color: #ff0000;
}
p {
  font-family: Lato;
}

