<mat-card>`
<br/>
<form class="sm-form">
  <mat-form-field class="sm-full-width">
    <mat-label>Age of Code </mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Change Requests</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Checkouts</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Movement of code into production</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Business impact </mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of unplanned Outages</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Ratio of Actual Planned Outages vs Total Planned Outages</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Problems</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Service Requests(Enhancements/Research)</mat-label>
    <mat-select>
      <mat-form-field >
      <mat-option value="one">active enhancements</mat-option><input matInput></mat-form-field>
      <mat-form-field >
      <mat-option value="two">closed enhancements</mat-option><input matInput></mat-form-field>
      <mat-form-field >
      <mat-option value="three">active research</mat-option><input matInput></mat-form-field>
      <mat-form-field >
      <mat-option value="four">closed research</mat-option><input matInput></mat-form-field>
    </mat-select>
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Proactive Incidents for the last 1 year</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Reactive Incidents for the last 1 year</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Breakup of Proactive Incidents Resolved at</mat-label>
    <mat-select>
      <mat-option value="one">Level 1<input matInput></mat-option>
      <mat-option value="two">Level 2</mat-option>
      <mat-option value="two">Level 3</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Proactive Incidents automatically resolved</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Proactive Incidents automatically suppressed</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Reactive incidents that have a reference to Knowledge Items</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Proactive incidents that have a reference to Knowledge Items</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Level "Critical Priority - Reactive Incident Requests</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Level "High" Priority - Reactive Incident Requests</mat-label>
    <input matInput value="">
    <mat-select>
      <mat-form-field >
      <mat-option value="one">active</mat-option><input matInput></mat-form-field>
      <mat-form-field >
      <mat-option value="two">closed</mat-option><input matInput></mat-form-field>
    </mat-select>
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Level "Average" Priority - Reactive Incident Requests</mat-label>
    <input matInput value="">
    <mat-select>
      <mat-form-field >
      <mat-option value="one">active</mat-option><input matInput></mat-form-field>
      <mat-form-field >
      <mat-option value="two">closed</mat-option><input matInput></mat-form-field>
    </mat-select>
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Number of Level "Low" Priority - Reactive Incident Requests </mat-label>
    <input matInput value="">
    <mat-select>
      <mat-form-field >
      <mat-option value="one">active</mat-option><input matInput></mat-form-field>
      <mat-form-field >
      <mat-option value="two">closed</mat-option><input matInput></mat-form-field>
    </mat-select>
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Sev 1 Reactive incidents that breached SLAs</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Sev 2 Reactive incidents that breached SLAs</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Sev 3 Reactive incidents that breached SLAs</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Sev 1 Proactive incidents that breached SLAs</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Sev 2 Proactive incidents that breached SLAs</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Percentage of Sev 3 Proactive incidents that breached SLAs</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Ratio of Actual Application Availability vs Planned Application Availability</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Recovery Time Objective(RTO) in Hours<</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>
  
  <mat-form-field class="sm-full-width">
    <mat-label>Recovery Point Objective(RPO) in Hours</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Support Window</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Maintanence documents</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>State of Jurisdiction</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Governing Support Service</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Uses Business Process</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Workgroup</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>

  <mat-form-field class="sm-full-width">
    <mat-label>Configuration Item</mat-label>
    <input matInput value="">
  </mat-form-field>
  <br/>


</form>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> 
    <button mat-raised-button>Cancel</button>
  </div>
</mat-card>