<br/>
<form class="example-form">
<mat-form-field class="example-full-width">
  <mat-label>Department ID</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Department Name</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Department Owner</mat-label>
  <input matInput value="">
</mat-form-field>

</form> <br/>
<div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> &nbsp;
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>