<br/>
<form class="example-form">
<mat-form-field class="example-full-width">
  <mat-label>Function ID</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Function Name</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Function Owner</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Banking</mat-radio-button> &nbsp;
  <mat-radio-button value="2">Insurance</mat-radio-button>
</mat-radio-group>
</form> <br/>
<div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> &nbsp;
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>