<br/>
<form class="example-form">
<mat-form-field class="example-full-width">
  <mat-label>Function ID</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Function Name</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Function Owner</mat-label>
  <input matInput value="">
</mat-form-field>

</form>
<div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> &nbsp;
    <button mat-raised-button color="primary">Cancel</button>
</div>