<mat-card>
    <br />
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Application Lifecycle</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[0].answer" name="input1">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Sites Applications Run In</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[1].answer" name="input2">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Primary Hardware/OS</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[2].answer" name="input3">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Primary Development Language</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[3].answer" name="input4">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Secondary Development Language</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[4].answer" name="input5">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Primary Database Technology</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[5].answer" name="input6">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>If any part of the app/product is web based which web server platform(s) support it?</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[6].answer" name="input7">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Frequency of Application/product Change (Enhancements/Upgrades)?</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[7].answer" name="input8">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>What is the size of the change?</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[8].answer" name="input9">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>What tool is the application source code stored in?</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[9].answer" name="input10">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Unique skills not commonly used at Enterprise speccific to this application</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[10].answer" name="input11">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>What query and reporting tool(s) are used by your app/product?</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[11].answer" name="input12">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Do you have a persistent test environment readily available for troublshooting/testing production
                applications?</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[12].answer" name="input13">
        </mat-form-field>
        <p></p>
        <mat-form-field class="example-full-width">
            <mat-label>Application Size (LOC, FP etc)</mat-label>
            <input matInput [(ngModel)]="applicationlifecycleRetrieve[13].answer" name="input14">
        </mat-form-field>

        <div class="overlay" *ngIf="showSpinner">
            <div class="spinnerCenter">
                <mat-spinner *ngIf="showSpinner" style="margin:0 auto;"></mat-spinner>
            </div>
        </div>

    </form> <br />
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="check()? openDialog() : update()">
            Update</button>&nbsp;
        <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    </div>
</mat-card>

<div class="overlay" *ngIf="showDialogue">
    <div class="center">
        <h1 mat-dialog-title>Warning!</h1>
        <div mat-dialog-content>Some fields are still empty. Do you still want to save it?</div>&nbsp;
        <div mat-dialog-actions>
            <button class="button" mat-button (click)="clickMethod()">Yes</button>&nbsp;
            <button class="button" mat-button (click)="onNoClick()">No </button>
        </div>
    </div>
</div>