  <!-- <br/>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Line Of Business</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Functionality</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name Of the Component Manager</mat-label>
    <input matInput>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> 
    <button mat-raised-button>Cancel</button>
  </div> -->
<br/>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Line Of Business</mat-label>
      <input matInput value="Fire">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Functionality</mat-label>
      <input matInput value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Name Of the Component Manager</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Save</button> &nbsp;
      <button mat-raised-button color="primary">Cancel</button>
    </div> 

 