<br />
<form [formGroup]="addAppFormGroup" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Application Name</mat-label>
    <input matInput [(ngModel)]="applicationModel.applicationName" formControlName="AppName">
    <mat-error *ngIf="checkError('AppName', 'required')">Application Name is required</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Application Description</mat-label>
    <textarea matInput [(ngModel)]="applicationModel.applicationDescription" formControlName="AppDesc"></textarea>
    <mat-error *ngIf="checkError('AppDesc', 'required')">Application Description is required</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Department</mat-label>
    <mat-select [(ngModel)]="selectedDepartmentID" formControlName="AppDept">
      <mat-option *ngFor="let item of departmentsRetrieved" [value]="item.departmentId">{{item.departmentName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="checkError('AppDept', 'required')">Department is required</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Line Of Business</mat-label>
    <mat-select [(ngModel)]="selectedLob" formControlName="AppLob" (selectionChange)="onSelectLob($event)">
      <mat-option *ngFor="let lob  of lineOfBusiness" [value]="lob"> {{lob}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="checkError('AppLob', 'required')">Line of Business is required</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Functionality</mat-label>
    <mat-select [(ngModel)]="selectedFunctionality" formControlName="AppFun">
      <mat-option *ngFor="let functionality of functionalities" [value]="functionality">{{functionality}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="checkError('AppFun', 'required')">Functionality is required</mat-error>
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name Of The Component Manager</mat-label>
    <input matInput [(ngModel)]="applicationModel.nameOfTheComponentManager" name="input5">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>SME Provided By Managers</mat-label>
    <input matInput [(ngModel)]="applicationModel.smeProvidedByManagers" name="input6">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Name Of The Primary Tech SME</mat-label>
    <input matInput [(ngModel)]="applicationModel.nameOfPrimaryTechSME" name="input7">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Name Of Primary BA</mat-label>
    <input matInput [(ngModel)]="applicationModel.nameOfPrimaryBA" name="input8">
  </mat-form-field>
</form>


<div class="example-button-row">
  <button mat-raised-button color="primary" [disabled]="!addAppFormGroup.valid " mat-stroked-button
    (click)="check() ? openDialog() : save()">Save</button> &nbsp;
  <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>
<div class="overlay" *ngIf="showSpinner">
  <div class="spinnerCenter">
    <mat-spinner *ngIf="showSpinner" style="margin:0 auto;"></mat-spinner>
  </div>
</div>

<div class="overlay" *ngIf="showDialogue">
  <div class="center">
    <h1 mat-dialog-title>Warning!</h1>
    <div mat-dialog-content>Some fields are still empty. Do you still want to save it?</div>&nbsp;
    <div mat-dialog-actions>
      <button class="button" mat-button (click)="clickMethod()">Yes</button>&nbsp;
      <button class="button" mat-button (click)="onNoClick()">No </button>
    </div>
  </div>
</div>