<mat-card>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="color:#8b9196;font-weight: bold;">Transaction Data</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="bpd-form">

        <!--addresses-->
        <div formArrayName="addresses">
          <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span style="color:#2a81ce">Transaction {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1"
                (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-12">
                <mat-form-field class="bpd-full-width">
                  <mat-label>Type of Transaction</mat-label>
                  <mat-select>
                    <mat-option value="one">Quote</mat-option>
                    <mat-option value="two">Policy Issuance</mat-option>
                    <mat-option value="three">Endorsement</mat-option>
                    <mat-option value="four">Cancel</mat-option>
                    <mat-option value="five">Reinstate</mat-option>
                    <mat-option value="six">Rebase</mat-option>
                    <mat-option value="seven">Non Renew</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-12">
                <mat-label>Volume Of Transactions</mat-label>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2020</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2019</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-5">
                <mat-form-field class="example-full-width">
                  <mat-label>2018</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-30">
          <a (click)="addAddress()" style="cursor: default"> Add another Transaction </a>
        </div>
        <div class="clearfix"></div>


      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="color:#8b9196;font-weight: bold;">Users Data</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="bpd-form">

        <!--addresses-->
        <div formArrayName="users">
          <div *ngFor="let address of myForm.controls.users.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span style="color:#2a81ce">User Type {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.users.controls.length > 1"
                (click)="removeUsers(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-12">
                <mat-form-field class="bpd-full-width">
                  <mat-label>Type of User</mat-label>
                  <mat-select>
                    <mat-option value="one">Exclusive Agents</mat-option>
                    <mat-option value="two">Experience Center</mat-option>
                    <mat-option value="three">End Customers</mat-option>
                    <mat-option value="four">Undewriters</mat-option>
                    <mat-option value="five">Data Entry Operators</mat-option>
                    <mat-option value="six">Other Internal User</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-12">
                <mat-label>Volume Of Transactions</mat-label>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2020</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2019</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-5">
                <mat-form-field class="example-full-width">
                  <mat-label>2018</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="margin-30">
          <a (click)="addUsers()" style="cursor: default">Add another Type of User</a>
        </div>
        <div class="clearfix"></div>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="color:#8b9196;font-weight: bold;">Channels Data</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="bpd-form">

        <!--addresses-->
        <div formArrayName="channels">
          <div *ngFor="let address of myForm.controls.channels.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span style="color:#2a81ce">Channel Type {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.channels.controls.length > 1"
                (click)="removeChannels(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-12">
                <mat-form-field class="bpd-full-width">
                  <mat-label>Type of Channels</mat-label>
                  <mat-select>
                    <mat-option value="one">Internet</mat-option>
                    <mat-option value="two">Agencies</mat-option>
                    <mat-option value="three">Mobile</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-12">
                <mat-label>Volume Of Transactions</mat-label>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2020</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2019</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-5">
                <mat-form-field class="example-full-width">
                  <mat-label>2018</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="margin-30">
          <a (click)="addChannels()" style="cursor: default">Add another Type of Channel</a>
        </div>

        <div class="clearfix"></div>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="color:#8b9196;font-weight: bold;">Products Data</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="bpd-form">

        <!--addresses-->
        <div formArrayName="products">
          <div *ngFor="let address of myForm.controls.products.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span style="color:#2a81ce">Product Type {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.products.controls.length > 1"
                (click)="removeProducts(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-12">
                <mat-form-field class="bpd-full-width">
                  <mat-label>Type of Products</mat-label>
                  <mat-select>
                    <mat-option value="one">Auto</mat-option>
                    <mat-option value="two">Motorcycle</mat-option>
                    <mat-option value="three">Boat</mat-option>
                    <mat-option value="four">RV</mat-option>
                    <mat-option value="five">Antique</mat-option>
                    <mat-option value="six">Dune Buggy</mat-option>
                    <mat-option value="seven">Home Owners</mat-option>
                    <mat-option value="eight">Rental</mat-option>
                    <mat-option value="nine">Condo</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-12">
                <mat-label>Volume Of Products</mat-label>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2020</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2019</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-5">
                <mat-form-field class="example-full-width">
                  <mat-label>2018</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-12">
                <mat-label>Written Premium Of Products</mat-label>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2020</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-3">
                <mat-form-field class="example-full-width">
                  <mat-label>2019</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group col-xs-5">
                <mat-form-field class="example-full-width">
                  <mat-label>2018</mat-label>
                  <textarea matInput (keypress)="onlyNumbers($event)" placeholder=""></textarea>
                  <mat-hint>Numbers only allowed</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="margin-30">
          <a (click)="addProducts()" style="cursor: default">Add another Type of Product</a>
        </div>

        <div class="clearfix"></div>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span style="color:#8b9196;font-weight: bold;">Others</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="bpd-form">


        <mat-radio-group class="bpd-full-width">
          <mat-label>Is there a difference in which internet customers and agents/CC users treated? For instance or end
            customers allowed to cancel policies?</mat-label> &nbsp;
          <mat-radio-button value="1">Yes </mat-radio-button> &nbsp;
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field class="bpd-full-width">
          <mat-label>Is UW manual or automated?</mat-label>
          <mat-select>
            <mat-option value="one">Manual</mat-option>
            <mat-option value="two">Automated</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="bpd-full-width">
          <mat-label>If automated, volume of transactions that are not STP from an underwriting standpoint</mat-label>
          <mat-select>
            <mat-option value="one">&lt; 10%</mat-option>
            <mat-option value="two">10%-20%</mat-option>
            <mat-option value="three">20%-35%</mat-option>
            <mat-option value="four">&gt; 50%</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="bpd-full-width">
          <mat-label>Volume of transactions that are overridden in CY2020 & CY2019</mat-label>
          <mat-select>
            <mat-option value="one">&lt; 10%</mat-option>
            <mat-option value="two">10%-20%</mat-option>
            <mat-option value="three">20%-35%</mat-option>
            <mat-option value="four">&gt; 50%</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-radio-group class="bpd-full-width">
          <mat-label>Does it have a product workbench?</mat-label> &nbsp;
          <mat-radio-button value="1">Yes </mat-radio-button> &nbsp;
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field class="bpd-full-width">
          <mat-label>How long does it take to launch a new product end-end(concept to implementation)?</mat-label>
          <mat-select>
            <mat-option value="one">&lt; 3 months</mat-option>
            <mat-option value="two">3-6 months</mat-option>
            <mat-option value="three">6-12 months</mat-option>
            <mat-option value="four">&gt; 12 months</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="bpd-full-width">
          <mat-label>Different products sold by the PAS</mat-label>
          <mat-select>
            <mat-option value="one">Auto</mat-option>
            <mat-option value="two">Motor cycle</mat-option>
            <mat-option value="three">Boat</mat-option>
            <mat-option value="four">RV</mat-option>
            <mat-option value="five">Antique</mat-option>
            <mat-option value="six">Dune buggy</mat-option>
            <mat-option value="seven">Homeowners</mat-option>
            <mat-option value="eigth">Rental</mat-option>
            <mat-option value="nine">Condo</mat-option>
          </mat-select>
        </mat-form-field>
        <br>



        <mat-form-field class="bpd-full-width">
          <mat-label>How many product variants are live in the System?</mat-label>
          <mat-select>
            <mat-option value="one">&lt; 10 products</mat-option>
            <mat-option value="two">10-20 products</mat-option>
            <mat-option value="three">&gt; 20 products</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="bpd-full-width">
          <mat-label>How far back does the system allow for endorsements (1/2/3/4 or more terms?)</mat-label>
          <mat-select>
            <mat-option value="one">1</mat-option>
            <mat-option value="two">2</mat-option>
            <mat-option value="three">3</mat-option>
            <mat-option value="four">4</mat-option>
            <mat-option value="five">&gt; 4</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="bpd-full-width">
          <mat-label>Haw far back can transactions go to previous terms (1/2/3/4 or more)</mat-label>
          <mat-select>
            <mat-option value="one">1</mat-option>
            <mat-option value="two">2</mat-option>
            <mat-option value="three">3</mat-option>
            <mat-option value="four">4</mat-option>
            <mat-option value="five">&gt; 4</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="bpd-full-width">
          <mat-label>Is rating manual or automated?</mat-label>
          <mat-select>
            <mat-option value="one">Manual</mat-option>
            <mat-option value="two">Automated</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-radio-group class="bpd-full-width">
          <mat-label>If Automated, is this integrated as part of thr PAS or an engine like Ratabase?</mat-label> &nbsp;
          <mat-radio-button value="1">Yes </mat-radio-button> &nbsp;
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
        <br>

        <mat-form-field class="bpd-full-width">
          <mat-label>How many internal interfacing applications (like GL, claims, CRM, Documents and so on) does it
            interact with</mat-label>
          <mat-select>
            <mat-option value="one">CRM</mat-option>
            <mat-option value="two"> Rating Engine</mat-option>
            <mat-option value="three">Underwritten Engine</mat-option>
            <mat-option value="four">Billing and Payments</mat-option>
            <mat-option value="five">Claims</mat-option>
            <mat-option value="six">Reinsurrance</mat-option>
            <mat-option value="seven">Product Workbench</mat-option>
            <mat-option value="eight">Financial Reporting</mat-option>
            <mat-option value="nine">State Reporting</mat-option>
            <mat-option value="ten">Compensation</mat-option>
            <mat-option value="eleven">Producer and License</mat-option>
            <mat-option value="twelve">others</mat-option>
            <mat-option value="thiteen">others</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="bpd-full-width">
          <mat-label>How many external interfacing applications(like MVR, Lexis Nexus, CLUE and so on) does it interact
            with? </mat-label>
          <input matInput value="">
        </mat-form-field>
        <br>
        <mat-form-field class="bpd-full-width">
          <mat-label>Is there is a difference in which internet Customer and Agents/CC users treated? Number of
            transactions difference</mat-label>
          <mat-select>
            <mat-option value="one">1</mat-option>
            <mat-option value="two">2</mat-option>
            <mat-option value="three">3</mat-option>
            <mat-option value="four">4</mat-option>
            <mat-option value="five">&gt; 4</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-radio-group class="bpd-full-width">
          <mat-label>Is the PAS system used in all states</mat-label> &nbsp;
          <mat-radio-button value="1">Yes </mat-radio-button> &nbsp;
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
        <br>

        <mat-form-field class="bpd-full-width">
          <mat-label>If sold in certain states please list them out( by product by volume in Cy2020,19,18)</mat-label>
          <mat-select>
            <mat-option value="one">&lt;10 States</mat-option>
            <mat-option value="two">10-20 States</mat-option>
            <mat-option value="three">20-30 States</mat-option>
            <mat-option value="four">30-40 States</mat-option>
            <mat-option value="five">&gt;40 States</mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field class="bpd-full-width">
          <mat-label>NPS score in last 3 years</mat-label>
          <mat-select>
            <mat-option value="one">0-30</mat-option>
            <mat-option value="two">30-70</mat-option>
            <mat-option value="three">70-100</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="bpd-full-width">
          <mat-label>Customer satisfaction score in last 3 years</mat-label>
          <mat-select>
            <mat-option value="one">&lt; 75%</mat-option>
            <mat-option value="two">75-80%</mat-option>
            <mat-option value="three">80-85%</mat-option>
            <mat-option value="four">85-90%</mat-option>
            <mat-option value="five">&gt; 90%</mat-option>

          </mat-select>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </mat-accordion> <br />

  <div class="margin-20">
    <button mat-raised-button color="primary" [disabled]="!myForm.valid" (click)=" onsave()">Save</button>&nbsp;
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    <!-- <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Save</button> -->
  </div>
</mat-card>