<mat-card>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <span style="color:#8b9196;font-weight: bold;">Transaction Data</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="bpd-form">
            
            <!--addresses-->
            <div formArrayName="addresses">
              <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <span style="color:#2a81ce">Transaction  {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <div class="form-group col-xs-12">
                      <mat-form-field class="bpd-full-width">
                          <mat-label>Type of Transaction</mat-label>
                          <mat-select>
                            <mat-option value="one">Quote</mat-option>
                            <mat-option value="two">Policy Issuance</mat-option>
                            <mat-option value="three">Endorsement</mat-option>
                            <mat-option value="four">Cancel</mat-option>
                            <mat-option value="five">Reinstate</mat-option>
                            <mat-option value="six">Rebase</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="form-group col-xs-12">
                      <mat-label>Volume Of Transactions</mat-label>
                  </div>
                  <div class="form-group col-xs-3">
                      <mat-form-field class="example-full-width">
                          <mat-label>2020</mat-label>
                          <textarea matInput placeholder=""></textarea>
                        </mat-form-field>
                  </div>
                  <div class="form-group col-xs-3">
                      <mat-form-field class="example-full-width">
                          <mat-label>2019</mat-label>
                          <textarea matInput placeholder=""></textarea>
                      </mat-form-field>
                  </div>
                  <div class="form-group col-xs-5">
                      <mat-form-field class="example-full-width">
                          <mat-label>2018</mat-label>
                          <textarea matInput placeholder=""></textarea>
                      </mat-form-field>
                  </div>                
                </div>
              </div>
            </div>
    
            <div class="margin-30">
              <a (click)="addAddress()" style="cursor: default">  Add another Transaction  </a>
            </div>
            <div class="clearfix"></div>
    
           
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <span style="color:#8b9196;font-weight: bold;">Users Data</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)" class="bpd-form">
            
            <!--addresses-->
            <div formArrayName="users">
              <div *ngFor="let address of myForm.controls.users.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                    <span style="color:#2a81ce">User Type  {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.users.controls.length > 1" (click)="removeUsers(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <div class="form-group col-xs-12">
                      <mat-form-field class="bpd-full-width">
                          <mat-label>Type of User</mat-label>
                          <mat-select>
                            <mat-option value="one">Exclusive Agents</mat-option>
                            <mat-option value="two">Experience Center</mat-option>
                            <mat-option value="three">End Customers</mat-option>
                            <mat-option value="four">Undewriters</mat-option>
                            <mat-option value="five">Data Entry Operators</mat-option>
                            
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="form-group col-xs-12">
                      <mat-label>Volume Of Transactions</mat-label>
                  </div>
                  <div class="form-group col-xs-3">
                      <mat-form-field class="example-full-width">
                          <mat-label>2020</mat-label>
                          <textarea matInput placeholder=""></textarea>
                        </mat-form-field>
                  </div>
                  <div class="form-group col-xs-3">
                      <mat-form-field class="example-full-width">
                          <mat-label>2019</mat-label>
                          <textarea matInput placeholder=""></textarea>
                      </mat-form-field>
                  </div>
                  <div class="form-group col-xs-5">
                      <mat-form-field class="example-full-width">
                          <mat-label>2018</mat-label>
                          <textarea matInput placeholder=""></textarea>
                      </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="margin-30">
              <a (click)="addUsers()" style="cursor: default">Add another Type of User</a>
            </div>
    
            <div class="clearfix"></div>
    
           
          </form>
        </mat-expansion-panel>
      </mat-accordion> <br/>
      
    
    <div class="margin-20">
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Save</button>
    </div>
</mat-card>