<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Data Collection Application</h1>
    </mat-toolbar>  
    <mat-sidenav-container class="example-sidenav-container"  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <mat-list-item [routerLink] = "['/dept']">
            <mat-icon matListIcon>group</mat-icon>
            <a matLine>Dept Details</a>
          </mat-list-item>
          <mat-list-item [routerLink] = "['/application']">
            <mat-icon matListIcon>device_hub</mat-icon>
            <a matLine>Application Details</a>
          </mat-list-item>
          <mat-list-item [routerLink] = "['/regulatory']">
            <mat-icon matListIcon>rule</mat-icon>
            <a matLine>Regulatory Details</a>
          </mat-list-item>
        
        <mat-list-item [routerLink] = "['/businesspartner']">
          <mat-icon matListIcon>add_business</mat-icon>
          <a matLine>Business Partner Details</a>
        </mat-list-item>
      </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>