<mat-card>
<br/>
<form class="bp-form">
<mat-form-field class="bp-full-width">
  <mat-label>Primary Business Partner</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="bp-full-width">
  <mat-label>Primary Business Partner</mat-label>
  <input matInput value="">
</mat-form-field>
<mat-form-field class="bp-full-width">
    <mat-label>BP Manager Names</mat-label>
    <textarea matInput placeholder="Multiple names are allowed"></textarea>
  </mat-form-field>
  <mat-form-field class="bp-full-width">
    <mat-label>BP Director Names    </mat-label>
    <textarea matInput placeholder="Multiple names are allowed"></textarea>
  </mat-form-field>
</form> <br/>
<div class="bp-button-row">
    <button mat-raised-button color="primary">Save</button> &nbsp;
    <button mat-raised-button color="primary">Cancel</button>
</div>
</mat-card>
