.example-card {
    max-width: 500px;
}
 
.example-header-image {
  background-size: cover;
}

mat-card{
  width: 500px;
  height: 150px;
  margin-left:auto;
  margin-right:auto;  
  vertical-align: middle;
}