<mat-card>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Application">
      <app-edit-application-details></app-edit-application-details>
    </mat-tab>
    <mat-tab label="Business Partner">
      <app-edit-business-partner-details></app-edit-business-partner-details>
    </mat-tab>
    <mat-tab label="Business Application Details">
      <app-businessapplicationdetails></app-businessapplicationdetails>
    </mat-tab>
    <mat-tab label="Regulatory">
      <app-edit-regulatory-details></app-edit-regulatory-details>
    </mat-tab>
    <mat-tab label="Applicable Life Cycle">
      <app-add-application-lifecycle-details></app-add-application-lifecycle-details>
    </mat-tab>
    <mat-tab label="Service Management">
      <app-servicemanagement></app-servicemanagement>
    </mat-tab>
    <mat-tab label="Vendor Package">
      <app-vendorpackage></app-vendorpackage>
    </mat-tab>
  </mat-tab-group>
</mat-card>