<mat-card>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Application"><app-application></app-application></mat-tab>
        <mat-tab label="Business Partner"><app-businesspartner></app-businesspartner></mat-tab>
        <mat-tab label="Business Application Details"><app-businessapplicationdetails></app-businessapplicationdetails></mat-tab>
        <mat-tab label="Regulatory"><app-regulatory></app-regulatory></mat-tab>
        <mat-tab label="Applicable Life Cycle"><app-add-application-lifecycle-details></app-add-application-lifecycle-details></mat-tab>
        <mat-tab label="Service Management"><app-servicemanagement></app-servicemanagement></mat-tab>
        <mat-tab label="Vendor Package"><app-vendorpackage></app-vendorpackage></mat-tab>
        
      </mat-tab-group>
</mat-card>
