
<section class="checkbox-section">
    <mat-checkbox class="checkbox-margin">Sarbanes-Oxley Act(SOC)?</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">Payment Card Industry (PCI) Data security standard</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">Federal Financial Institutions Examination council (FFIEC)</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">State Breach Laws</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">Graham-Leach-Billey Act(GLBA)</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">Personal Information Protection and Electronic Documents Act (PIPEDA)</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">Health Insurance Portability and Accountability Act (HIPAA)</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">Children's On-Line Privacy Protection Act (COPPA)</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">U.S.PAtriot Act</mat-checkbox><br>
    <mat-checkbox class="checkbox-margin">U.S.Export law</mat-checkbox>
  </section>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> &nbsp;
    <button mat-raised-button color="primary">Cancel</button>
</div>
