.mat-toolbar.mat-primary {
    background : #2a81ce;
    color: #fff;
  }
  
  .mat-list-item.active {
    color: #2a81ce;
    border-left: 4px solid red;
    background-color: #d8d2d2;
  }
  
  .mat-list-item {
     font-size: 14px;
     color: grey;
  }

  mat-card{
    width: auto;
    height: auto;
    margin-left:auto;
    margin-right:auto;  
    vertical-align: middle;
  }

  table.center {
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
  }
  
   
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 1;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }