<mat-card>
    <br />
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Application Lifecycle</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Sites Applications Run In</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Primary Hardware/OS</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Primary Devolopment Language</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Secondary Devolopment Language</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Primary Database Technology</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>If any part of the app/product is web based which web server platform(s) support it?</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Frequency of Application/product Change (Enhancements/Upgrades)?</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>What is the size of the change?</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>What tool is the application source code stored in?</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Unique skills not commonly used at Enterprise speccific to this application</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>What query and reporting tool(s) are used by your app/product?</mat-label>
        <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Do you have a persistent test environment readily available for troublshooting/testing production
            applications?</mat-label>
        
    </mat-form-field>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Readily available</mat-radio-button> &nbsp;
        <mat-radio-button value="2">Not available</mat-radio-button>
    </mat-radio-group>
    <p></p>
    <mat-form-field class="example-full-width">
        <mat-label>Application Size (LOC, FP etc)</mat-label>
        <input matInput value="">
    </mat-form-field>

</form> <br />
<div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> &nbsp;
    <button mat-raised-button color="primary">Cancel</button>
</div>
</mat-card>