<mat-card *ngIf="regulatoryRetrieved">
    <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[0].regulatoryValue">Sarbanes-Oxley
            Act (SOA)</mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[1].regulatoryValue">Payment Card
            Industry (PCI) Data security standard
        </mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[2].regulatoryValue">Federal
            Financial Institutions Examination Council
            (FFIEC)
        </mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[3].regulatoryValue">State Breach
            Laws</mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[4].regulatoryValue">
            Graham-Leach-Billey Act (GLBA)</mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[5].regulatoryValue">Personal
            Information Protection and Electronic
            Documents
            Act (PIPEDA)
        </mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[6].regulatoryValue">Health
            Insurance Portability and Accountability Act
            (HIPAA)
        </mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[7].regulatoryValue">Children's
            On-Line Privacy Protection Act (COPPA)
        </mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[8].regulatoryValue">U.S.PAtriot
            Act</mat-checkbox>
        <br>
        <mat-checkbox class="checkbox-margin" [(ngModel)]="regulatoryRetrieved[9].regulatoryValue">U.S.Export law
        </mat-checkbox>
        <br>

    </section>

    <div class="overlay" *ngIf="showSpinner">
        <div class="spinnerCenter">
            <mat-spinner *ngIf="showSpinner" style="margin:0 auto;"></mat-spinner>
        </div>
    </div>

    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="check() ? openDialog() : update()"> Update </button> &nbsp;
        <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    </div>

    <div class="overlay" *ngIf="showDialogue">
        <div class="center">
            <h1 mat-dialog-title>Warning!</h1>
            <div mat-dialog-content>Some fields are still empty. Do you still want to save it?</div>&nbsp;
            <div mat-dialog-actions>
                <button class="button" mat-button (click)="clickMethod()">Yes</button>&nbsp;
                <button class="button" mat-button (click)="onNoClick()">No </button>
            </div>
        </div>
    </div>

</mat-card>